{
  "extends": [
    "@map-colonies/eslint-config/jest",
    "@map-colonies/eslint-config/ts-base"
  ],
  "ignorePatterns": ["**/*.js", "dist", "src//migration"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "jest": true
  }
}
