{
  "swagger": {
    "jsonPath": "{{ getv "/configuration/swagger/json/path" "/api-json" }}",
    "uiPath": "{{ getv "/configuration/swagger/ui/path" "/api-docs" }}",
    "portOverride": "{{ getv "/configuration/swagger/port" "" }}"
  },
  "logger": {
    "level": "{{ getv "/configuration/logger/level" "error" }}"
  },
  "typeOrm": {
      "type": "{{ getv "/configuration/db/type" "postgres" }}",
      "host": "{{ getv "/configuration/db/host" "10.28.11.80" }}",
      "port": {{ getv "/configuration/db/port" "5432" }},
      "username": "{{ getv "/configuration/db/username" "export_request_admin" }}",
      "password": "{{ getv "/configuration/db/password" "1234" }}",
      "database": "{{ getv "/configuration/db/database" "export-request" }}",
      "synchronize": {{ getv "/configuration/db/synchronize" "false" }},
      "logging": {{ getv "/configuration/db/logging" "false" }},
      "enableSslAuth": {{ getv "/configuration/db/ssl/enable" "false" }},
      "sslPaths": {
         "ca": {{ if ne (getv "/configuration/db/ssl/ca" "") "" }}"{{ getv "/configuration/db/ssl/ca" }}"{{ else }}{{ "null" }}{{ end }},
         "key": {{ if ne (getv "/configuration/db/ssl/key" "") "" }}"{{ getv "/configuration/db/ssl/key" }}"{{ else }}{{ "null" }}{{ end }},
         "cert": {{ if ne (getv "/configuration/db/ssl/cert" "") "" }}"{{ getv "/configuration/db/ssl/cert" }}"{{ else }}{{ "null" }}{{ end }}
      },
      "entities": [
         "dist/src/entity/**/*.js"
      ],
      "migrations": [],
      "subscribers": [
         "dist/src/subscriber/**/*.js"
      ],
      "cli": {
         "entitiesDir": "src/entity",
         "migrationsDir": "src/migration",
         "subscribersDir": "src/subscriber"
      }
   },
   "search":{
      "defaultPageSize": {{getv "/configuration/search/default/page/size" "20"}}
   }
}
